__pycache__/Opera_Alg.cpython-311.pyc
__pycache__/Opera_Alg.cpython-311.pyc
__pycache__/Waterfilling_Alg.cpython-311.pyc
__pycache__/AI_Topology.cpython-311.pyc
__pycache__/Common_Alg.cpython-311.pyc
__pycache__/mathfunc.cpython-311.pyc
__pycache__/Shale_Alg.cpython-311.pyc
__pycache__/Sirius.cpython-311.pyc
__pycache__/Traffic_Benchmarks.cpython-311.pyc
main.synctex.gz
main.log
.gitignore
main.fdb_latexmk
main.fls
.gitignore
main.aux
